/* Base css */
html, body {
    height: 100%;
    margin: 0;
}
#container-FrontPage {
    display: flex;
    flex-flow: column;
    height: 100%;
}
header {
    flex: O 1 auto;
}
main {
    flex: 1 1 auto;
    background-color: lightgray;
}
footer {
    flex: 0 1 40px;
    border: 1px solid greenyellow;
}
/* End base*/
/* Header */
nav {
    height:60px;
    display: flex;
    justify-content: flex-end;
}
.container-link-h {
    align-self: center;
    margin-right: 10px;
}
#h-img-app {
    width: 25px;
    height: auto;
}
.container-link-h.app{
    margin-left: 10px;
    padding: 8px;
    border-radius: 50%;
}
#btn-h-sign {
    padding: 9px 27px 9px 27px;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    background-color: rgb(56, 113, 224);
    color: white;
}
.gmail ,.images{
    text-decoration: none;
    color: black;
}
#btn-h-sign:hover{
    cursor: pointer;
    background-color: rgb(67, 123, 226);
}
.container-link-h.app:hover{
    background-color:rgb(240,240,240);
}
.link-h.gmail:hover, .link-h.images:hover {
    text-decoration: underline;
}
/* End header */
