
input[type="text"]{
    font-size: 17px;
}
header {
    height: 50px;
}
main {
    display: grid;
    min-height: 80vh;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}
#logo-google {
    width: 280px;
    height: 90px;
}

#container-searchbar{
    display: grid;
    grid-template-columns: 40px 600px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border: solid 1px lightgray;
}
#search-input {
    width: 555px;
    height: 40px;
    border: none;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    
}
#label-icon-search {
    width: 40px;
    height: 40px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    display: grid;
    align-items: center;
    justify-items: center;
}
#icon-search {
    width: 20px;
    height: auto;
}
#container-logo {
    grid-area: 2/2/3/4;
    justify-self: center;
    align-self: center;
}
#container-search {
    grid-area: 3/2/4/4;
    justify-self: center;
    width: 600px;
}
input:focus, textarea {
    outline: none;
}
#g-button {
    display: grid;
    min-height: 40px;
    grid-template-columns: 1fr 1fr;
    padding-top: 20px;
    grid-gap: 10px;
}

.btn-homeP {
    width: 150px;
    height: 40px;
    font-size: 15px;
    border: none;
    background-color: rgb(248,249,250);
}
#btn-search {
    justify-self: flex-end;
}
